.root {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px 16px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .root {
    padding: 32px;
  }
}
.freeBox__mm9Vt {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: var(--token-ZLBgVUzWVOOm);
  padding-top: 52px;
  padding-bottom: 52px;
  height: 100%;
  max-height: 154px;
  min-width: 0;
  min-height: 0;
}
.freeBox__mm9Vt > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__mm9Vt > :global(.__wab_flex-container) > *,
.freeBox__mm9Vt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mm9Vt > :global(.__wab_flex-container) > picture > img,
.freeBox__mm9Vt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__mm9Vt {
    display: flex;
    flex-direction: column;
    padding-top: 3px;
    padding-bottom: 0px;
    max-height: 500px;
    height: 100%;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__mm9Vt > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    min-height: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__mm9Vt > :global(.__wab_flex-container) > *,
  .freeBox__mm9Vt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__mm9Vt > :global(.__wab_flex-container) > picture > img,
  .freeBox__mm9Vt
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox__pQy7H {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__pQy7H > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__pQy7H > :global(.__wab_flex-container) > *,
.freeBox__pQy7H > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pQy7H > :global(.__wab_flex-container) > picture > img,
.freeBox__pQy7H
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__pQy7H > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__pQy7H > :global(.__wab_flex-container) > *,
  .freeBox__pQy7H > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__pQy7H > :global(.__wab_flex-container) > picture > img,
  .freeBox__pQy7H
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.button___5ZxU:global(.__wab_instance) {
  position: relative;
}
.svg__zwr35 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___2Kpv2 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___994AM:global(.__wab_instance) {
  position: relative;
}
.svg___5J3Ev {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__hcjDp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__oRlAg:global(.__wab_instance) {
  position: relative;
}
.svg__sSgus {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___6TEsO {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__aOcVn:global(.__wab_instance) {
  position: relative;
}
.svg___1SAXb {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__l08Jt {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__gxcgF {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button__jWimW:global(.__wab_instance) {
  position: relative;
}
.svg__kYfJy {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__iubI2 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___6KCwM:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__mwpOm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__nJyl {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
